
<html>
<header>
    <title>请使用浏览器打开->->->-></title>
</header>
<body>
    <h1 style="align-content:center">点击右上角使用浏览器打开</h1>
    <br />
    <img style="float:right" src="~/images/transfer.jpg"/>
</body>

</html>